body {
  background-color: #1a1a1d;
  color: wheat;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}

.start-screen {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #1a1a1d;
}
.start-screen .start-screen-content {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
}
.start-screen .header-project {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4em;
}
.start-screen .descri {
  margin-bottom: 30px;
}
.start-screen .start-btn {
  padding: 10px;
  border-radius: 10px;
  border-color: greenyellow;
  border-style: solid;
  border-width: 2px;
}
.start-screen .start-btn:hover {
  border-width: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.exhibizone {
  width: 400px;
  height: 400px;
  position: absolute;
  margin: 40px auto 40px;
  background-color: red;
  left: 35%;
}

.stage {
  width: 100%;
  height: 100%;
  position: absolute;
  right: auto;
}
.stage .select-animal {
  position: absolute;
  height: 100%;
  right: auto;
  bottom: auto;
  left: 90%;
}
.stage .select-animal a {
  border-width: 2px;
  border-color: greenyellow;
  border-style: dashed;
  border-radius: 100px;
  padding: 10px;
}
.stage .select-animal a:hover {
  border-width: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.stage .select-animal .thobbing {
  margin: 40px 0 40px 0;
}
.stage .select-animal li {
  position: relative;
  top: 50%;
}
.stage .menu-nav {
  position: absolute;
  height: 100%;
  right: 90%;
}
.stage .menu-nav a {
  border-width: 2px;
  border-color: greenyellow;
  border-style: dashed;
  border-radius: 100px;
  padding: 10px;
}
.stage .menu-nav a:hover {
  border-width: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.stage .menu-nav .thobbing {
  margin: 40px 0 40px 0;
}
.stage .menu-nav li {
  position: relative;
  top: 50%;
}
.stage .animalinfo-wapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.stage .animalinfo-wapper .animalinfo {
  top: 70%;
  left: 43%;
  position: absolute;
  align-items: center;
}
.stage .animalinfo-wapper li {
  display: inline-block;
}

.aboutme {
  position: absolute;
  right: auto;
  bottom: 10%;
  left: 90%;
}
.aboutme a {
  border-width: 2px;
  border-color: greenyellow;
  border-style: dashed;
  border-radius: 100px;
  padding: 10px;
}
.aboutme a:hover {
  border-width: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.base-shard:nth-child(1) .shard {
  clip-path: polygon(38.65% 66%, 40.75% 84.429%, 47.85% 70%);
  background-color: #000;
}
.base-shard:nth-child(2) .shard {
  clip-path: polygon(38.65% 66.143%, 47.85% 70%, 54.65% 46.286%);
  background-color: #141414;
}
.base-shard:nth-child(3) .shard {
  clip-path: polygon(38.15% 57.857%, 33.65% 84.571%, 52.75% 51%);
  background-color: #2D2D31;
}
.base-shard:nth-child(4) .shard {
  clip-path: polygon(44.65% 39.571%, 36.85% 59.429%, 52.85% 50.857%);
  background-color: #37383A;
}
.base-shard:nth-child(5) .shard {
  clip-path: polygon(45.85% 41.4%, 52.75% 50.857%, 55.2% 38.286%);
  background-color: #29292E;
}
.base-shard:nth-child(6) .shard {
  -webkit-clip-path: polygon(47.55% 27.143%, 41.25% 45.714%, 55.05% 38.429%);
  background-color: #464649;
}
.base-shard:nth-child(7) .shard {
  -webkit-clip-path: polygon(40.75% 84.571%, 52.35% 85%, 49.05% 89.857%);
  background-color: #1E1D21;
}
.base-shard:nth-child(8) .shard {
  -webkit-clip-path: polygon(46.95% 81.714%, 58.95% 81.143%, 55.75% 85.571%);
  background-color: #1E1D21;
}
.base-shard:nth-child(9) .shard {
  -webkit-clip-path: polygon(47.55% 27.143%, 61.15% 21.714%, 55.05% 38.429%);
  background-color: #D8D8DD;
}
.base-shard:nth-child(10) .shard {
  -webkit-clip-path: polygon(47.55% 27.143%, 48.25% 13.143%, 50.55% 25.857%);
  background-color: #ABABB5;
}
.base-shard:nth-child(11) .shard {
  -webkit-clip-path: polygon(48.25% 13.143%, 53.85% 7.857%, 49.05% 17.714%);
  background-color: #CCCECD;
}
.base-shard:nth-child(12) .shard {
  -webkit-clip-path: polygon(49.05% 17.714%, 52.15% 11.286%, 50.55% 25.857%);
  background-color: #1C1C1E;
}
.base-shard:nth-child(13) .shard {
  -webkit-clip-path: polygon(52.15% 11.286%, 53.65% 7.714%, 59.65% 10.571%);
  background-color: #faf9fa;
}
.base-shard:nth-child(14) .shard {
  -webkit-clip-path: polygon(52.1% 11.4%, 59.8% 10.5%, 57.65% 15.7%);
  background-color: #b580a7;
}
.base-shard:nth-child(15) .shard {
  -webkit-clip-path: polygon(52.05% 11.286%, 60.55% 18%, 50.45% 25.857%);
  background-color: #32323C;
}
.base-shard:nth-child(16) .shard {
  -webkit-clip-path: polygon(50.45% 25.857%, 60.45% 17.857%, 61.15% 21.714%);
  background-color: #141414;
}
.base-shard:nth-child(17) .shard {
  -webkit-clip-path: polygon(57.65% 15.714%, 59.75% 10.571%, 66.75% 14.571%);
  background-color: #3C363E;
}
.base-shard:nth-child(18) .shard {
  -webkit-clip-path: polygon(57.5% 15.6%, 66.75% 14.571%, 60.45% 18%);
  background-color: #000;
}
.base-shard:nth-child(19) .shard {
  -webkit-clip-path: polygon(55.25% 41%, 57.05% 74.429%, 47.95% 69.857%);
  background-color: #a7a6a1;
}
.base-shard:nth-child(20) .shard {
  -webkit-clip-path: polygon(61.45% 15.143%, 62.95% 12.429%, 62.65% 15%);
  background-color: #726672;
}
.base-shard:nth-child(21) .shard {
  -webkit-clip-path: polygon(61.45% 15.143%, 62.65% 15%, 62.95% 16.571%);
  background-color: #4E434B;
}
.base-shard:nth-child(22) .shard {
  -webkit-clip-path: polygon(54.95% 38.429%, 61.15% 21.714%, 64.15% 32.429%);
  background-color: #F2F2F2;
}
.base-shard:nth-child(23) .shard {
  -webkit-clip-path: polygon(55.05% 38.286%, 64.05% 32.429%, 53.25% 48.143%);
  background-color: #141414;
}
.base-shard:nth-child(24) .shard {
  -webkit-clip-path: polygon(55.35% 45%, 64% 32.429%, 64% 37.143%);
  background-color: #3e3c40;
}
.base-shard:nth-child(25) .shard {
  -webkit-clip-path: polygon(55.45% 45%, 64.05% 37%, 63.75% 51.286%);
  background-color: #CCCECD;
}
.base-shard:nth-child(26) .shard {
  -webkit-clip-path: polygon(55.45% 44.857%, 63.75% 51.143%, 57.05% 74.429%);
  background-color: #bfc2c1;
}
.base-shard:nth-child(27) .shard {
  -webkit-clip-path: polygon(59.55% 65.714%, 63.05% 53.571%, 65.45% 73.429%);
  background-color: #000000;
}
.base-shard:nth-child(28) .shard {
  -webkit-clip-path: polygon(59.65% 48.143%, 61.05% 49.143%, 59.95% 50.143%);
  background-color: #29292e;
}
.base-shard:nth-child(29) .shard {
  -webkit-clip-path: polygon(40.65% 84.571%, 47.85% 69.714%, 57.2% 74.3%);
  background-color: #84817d;
}
.base-shard:nth-child(30) .shard {
  -webkit-clip-path: polygon(40.85% 84.5%, 57.1% 74.2%, 51.75% 81.857%);
  background-color: #756e60;
}

/*# sourceMappingURL=main.css.map */
