$vaquita_bg: #95F9C3;
$marin_bg: #f7c2e6;
$hawaii_bg: #83d0cb;
$jp_shark_bg: #f292ed;
$stork_bg: #696eff;
$wh_shark_bg: #439cfb;
$smol_saw_bg: #6ff7e8;
$eu_eel_bg: #45cde9;
$tuna_bg: #9bb2e5;
$ray_bg: #e4a7c5;
$gharial_bg: #9bafd9;
$turtle_bg: #d8ded6;
$pela_shark_bg: #96d4ca;
$dolphin_bg: #6274e7;
$alba_bg: #7ef29d;
$icefish_bg: #deb8f5;
$penguin_bg: #6ff7e8;
$sei_whale_bg: #f292ed;
$n_right_whale_bg: #abbdff;
$blue_whale_bg: #c7b3cc;

.all-animals {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    transform: translate(-50%, -50%);

    background: #191919;

    &.inactive {
        display: none;
    }

    .animal-nav-content {
        display: block;
        opacity: 0;
        @include transition(0.3s);

        &.inactive {
            display: none;
        }

        &.active {
            opacity: 1;

            .title-content {

                h1,
                h2,
                h4,
                p {
                    opacity: 1;
                    @include transform(translateY(0));
                }
            }
        }

        ul {
            li {
                h4 {
                    font-size: 1.4em;
                    letter-spacing: 0.16em;
                    margin-bottom: 0.5em;
                }

                h2 {
                    margin-bottom: 0.2em;
                    font-size: 2.5em;
                    line-height: 1.1;

                }

                span {
                    color: #706e6e;
                    letter-spacing: 0.2em;

                    i {
                        color: #bbb;
                    }
                }

                &:nth-child(1) {
                    h4 {
                        color: $vaquita_bg;
                    }
                }

                &:nth-child(2) {
                    h4 {
                        color: $marin_bg;
                    }
                }

                &:nth-child(3) {
                    h4 {
                        color: $hawaii_bg;
                    }
                }

                &:nth-child(4) {
                    h4 {
                        color: $jp_shark_bg;
                    }
                }

                &:nth-child(5) {
                    h4 {
                        color: $stork_bg;
                    }
                }

                &:nth-child(6) {
                    h4 {
                        color: $wh_shark_bg;
                    }
                }

                &:nth-child(7) {
                    h4 {
                        color: $smol_saw_bg;
                    }
                }

                &:nth-child(8) {
                    h4 {
                        color: $eu_eel_bg;
                    }
                }

                &:nth-child(9) {
                    h4 {
                        color: $tuna_bg;
                    }
                }

                &:nth-child(10) {
                    h4 {
                        color: $ray_bg;
                    }
                }

                &:nth-child(11) {
                    h4 {
                        color: $gharial_bg;
                    }
                }

                &:nth-child(12) {
                    h4 {
                        color: $turtle_bg;
                    }
                }

                &:nth-child(13) {
                    h4 {
                        color: $pela_shark_bg;
                    }
                }

                &:nth-child(14) {
                    h4 {
                        color: $dolphin_bg;
                    }
                }

                &:nth-child(15) {
                    h4 {
                        color: $alba_bg;
                    }
                }

                &:nth-child(16) {
                    h4 {
                        color: $icefish_bg;
                    }
                }

                &:nth-child(17) {
                    h4 {
                        color: $penguin_bg;
                    }
                }

                &:nth-child(18) {
                    h4 {
                        color: $sei_whale_bg;
                    }
                }

                &:nth-child(19) {
                    h4 {
                        color: $n_right_whale_bg;
                    }
                }

                &:nth-child(20) {
                    h4 {
                        color: $blue_whale_bg;
                    }
                }
            }
        }

        .title-content {
            z-index: 3;
            position: relative;
            @include transition(0.5s 0.3s);

            h1,
            h2,
            h4,
            p {
                text-align: center;
                opacity: 0;
                @include transition(0.45s 0.7s cubic-bezier($smootheaseout));
                @include transform(translateY(-2px));
            }

            h1 {
                @include transition-delay(0.85s);
                @include transform(translateY(5px));
            }

            h2 {
                font-size: 4em;
                line-height: 0.9em;
                margin: 6px 0 15px;
                @include transform(translateY(5px));

                span {
                    display: block;
                }
            }

            h4 {
                color: #656b72;
                font-size: 0.8em;
                margin-bottom: 25px;
                letter-spacing: 0.2em;
                @include transition(1.2s 1.2s);
            }

            p {
                font-size: 0.8em;
                letter-spacing: 0.2em;
                @include transition(1.7s 1.6s);
                line-height: 1.3em;
                padding: 0 40px;

            }

            &.inactive {
                opacity: 0;
                @include transition(0.2s 0.06s);
            }
        }
    }

    .hover-detector {
        z-index: 999999;
        position: absolute;
        height: 0px;
        width: 0px;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        display: block;
        @include transition(0.5s);

        &.active {
            opacity: 1;

            div {
                opacity: 1;

                @for $i from 1 through 20 {
                    &:nth-child(#{$i}) {
                        $td: (
                            $i * 0.03s
                        );
                    $ts: (
                        0.34s+ ($i * 0.05s)
                    );
                @include transition($ts $td);
            }

            @for $i from 1 through 30 {
                &:nth-child(#{$i}) {
                    $r: (
                        $i * 17.7deg - 7deg
                    );
                @include transform(rotate($r) translateY(-270px));
            }
        }
    }

    &::after {
        opacity: 0;
    }
}

div {
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            $r: (
                $i * 18deg - 7deg
            );
        @include transform(rotate($r) translateY(-270px));
    }
}
}
}

&.inactive {
    display: none;
}

div {
    width: 56px;
    height: 56px;
    opacity: 0;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0);
    top: 50%;
    left: 50%;
    border-radius: 100px;
    margin-top: -28px;
    margin-left: -28px;
    -webkit-backface-visibility: hidden;
    @include transition(all 0.3s);
    @include transform-origin(50% 50%);

    &:before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: #fff;
        @include transition(all 0.2s cubic-bezier($smootheaseout));
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 40px;
        @include transform(scale(0.065));
    }

    &:after {
        content: "";
        height: 100%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        @include transition(all 0.5s);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 40px;
        @include transform(scale(0.8));
    }

    &:hover {
        cursor: pointer;
    }

    &.active-animal,
    &:hover {
        &:after {
            @include transition(all 0.19s cubic-bezier($smootheaseout));
            @include transform(scale(1));
            opacity: 1;
        }

        &:before {
            @include transform(scale(0.1));
        }
    }

    &:nth-child(1) {
        &::after {
            border-color: $vaquita_bg;
        }
    }

    &:nth-child(2) {
        &::after {
            border-color: $marin_bg;
        }
    }

    &:nth-child(3) {
        &::after {
            border-color: $hawaii_bg;
        }
    }

    &:nth-child(4) {
        &::after {
            border-color: $jp_shark_bg;
        }
    }

    &:nth-child(5) {
        &::after {
            border-color: $stork_bg;
        }
    }

    &:nth-child(6) {
        &::after {
            border-color: $wh_shark_bg;
        }
    }

    &:nth-child(7) {
        &::after {
            border-color: $smol_saw_bg;
        }
    }

    &:nth-child(8) {
        &::after {
            border-color: $eu_eel_bg;
        }
    }

    &:nth-child(9) {
        &::after {
            border-color: $tuna_bg;
        }
    }

    &:nth-child(10) {
        &::after {
            border-color: $ray_bg;
        }
    }

    &:nth-child(11) {
        &::after {
            border-color: $gharial_bg;
        }
    }

    &:nth-child(12) {
        &::after {
            border-color: $turtle_bg;
        }
    }

    &:nth-child(13) {
        &::after {
            border-color: $pela_shark_bg;
        }
    }

    &:nth-child(14) {
        &::after {
            border-color: $dolphin_bg;
        }
    }

    &:nth-child(15) {
        &::after {
            border-color: $alba_bg;
        }
    }

    &:nth-child(16) {
        &::after {
            border-color: $icefish_bg;
        }
    }

    &:nth-child(17) {
        &::after {
            border-color: $penguin_bg;
        }
    }

    &:nth-child(18) {
        &::after {
            border-color: $sei_whale_bg;
        }
    }

    &:nth-child(19) {
        &::after {
            border-color: $n_right_whale_bg;
        }
    }

    &:nth-child(20) {
        &::after {
            border-color: $blue_whale_bg;
        }
    }
}

&.inactive {
    pointer-events: none;
}
}

.hover-detector {
    display: block;
    @include transition(200s cubic-bezier(0.11, 0.01, 0.45, 0.74));

    &.active {
        @include transform(rotate(1000deg));
    }
}

.animal-nav-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999;
    transform: translate(-50%, -50%);

    ul {
        z-index: 1;
        pointer-events: none;

        li {
            position: absolute;
            top: 10%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -10%);

            >* {
                opacity: 0;
                @include transform(translateY(6px));
                @include transition(0.13s);
            }

            &.active>* {
                opacity: 1;
                @include transform(translateY(0));
                @include transition(0.34s 0.1s);

                &:nth-child(2) {
                    @include transition-delay(0.25s);
                }

                &:nth-child(3) {
                    @include transition-delay(0.4s);
                }
            }
        }
    }
}

.all-animals-off-btn {
    position: fixed;
    top: 50%;
    left: 2%;
    transform: translate(-2%, -50%);
    padding: 30px;

    .btn__white-circle {
        width: 50px;
        height: 50px;
        // background: red;

        svg {
            width: 18px;
            height: 18px;
        }
    }
    div{

    }

    .btn__textR {
        width: 150px;
        white-space: normal;

    }

    &:hover {
        .btn__textR {
            transform: translate(40px, -50%);
            font-size: 1em;
        }
    }
}
}