@import "bourbon/bourbon";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

$smootheaseout: 0.62, 0.02, 0.34, 1;
$head_font: "Amatic SC", sans-serif;
$main_font: "Baloo 2", sans-serif;
$smallscreensize: 700px;
$mdscreensize: 1000px;
$vaquita_bg: #95F9C3;
$marin_bg: #f7c2e6;

body {
    color: #C1E9E8;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: $main_font;
}

a {
    text-decoration: none;
    color: #FCFCFC;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.shard-wrap {
    width: 100%;
    height: 100%;
    position: absolute;

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) .shard {
            $td: (
                $i * 0.05s
            );
        @include transition($td cubic-bezier($smootheaseout));
    }
}
}

.shard {
    width: 100%;
    height: 100%;
}

.start-screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    place-items: center;
    background-color: #191919;
    text-align: center;
    z-index: 9999;

    .header-project {
        font-family: $head_font;
        font-weight: 600;
        font-size: 7em;
    }

    .descri {
        margin-bottom: 30px;
    }

    .start-btn {
        padding: 10px;
        border-radius: 10px;
        border-color: #27AFBB;
        border-style: solid;
        border-width: 2px;

        &:hover {
            border-width: 5px;
            @include transition(0.5s)
        }
    }
}

.stg-exhibi {
    position: absolute;
}

.exhibizone {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -1.25%;
    @include transform(scale(0.5));
}

.popout {
    position: relative;
    @include transition(0.18s);
    color: #FCFCFC;
    white-space: nowrap;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 30px;
        z-index: -1;
    }
}

.stage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .select-animal {
        margin-left: auto;
        margin-right: 30px;
        text-align: right;
        z-index: 9998;

        .popout {
            position: absolute;
            right: 100px;
            top: 6px;
            opacity: 0;
            pointer-events: none;
            @include transform(translateX(8px));

            &.text-change {
                opacity: 0;
                @include transition(0.15s);
                @include transform(translateY(5px));
            }
        }

        &:hover {
            .popout {
                @include transform(translateX(0) !important);
                opacity: 1;

                &.text-change {
                    opacity: 0;
                    @include transition(0.14s);
                    @include transform(translateY(5px));
                }
            }
        }

        .thobbing {
            margin: 50px 0 50px 0;
        }

        li {
            position: relative;

        }

    }

    .menu-nav {
        margin-left: 30px;
        text-align: left;
        z-index: 9998;

        .popout {
            right: auto;
            left: 80px;
            @include transform(translateX(-8px));
        }

        .autoplay {
            margin: 50px 0 50px 0;
        }

        li {
            position: relative;

            .popout {
                position: absolute;
                right: 100px;
                top: 6px;
                opacity: 0;
                pointer-events: none;
                margin-left: 30px;
                @include transform(translateX(8px));

                &.text-change {
                    opacity: 0;
                    @include transition(0.15s);
                    @include transform(translateY(5px));
                }
            }

            &:hover {
                .popout {
                    @include transform(translateX(0) !important);
                    opacity: 1;

                    &.text-change {
                        opacity: 0;
                        @include transition(0.14s);
                        @include transform(translateY(5px));
                    }
                }
            }
        }
    }

    .animalinfo-wapper {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 0;
        margin-top: 4rem;


        li {
            display: inline-block;
        }

        h2 {
            font-weight: 600;
            font-size: 3.5rem;
        }
    }
}

.aboutme {
    position: fixed;
    right: 3%;
    transform: translate(-3%, -3%) scale(1);


    .aboutme-btn {
        background-color: transparent;
        cursor: pointer;
        border: none;
        width: 50px;
        height: 50px;
        transition: 0.5s;
    }

    .aboutme-btn:hover {
        transition: 0.5s;
        transform: translateY(-10px);
    }

}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 10em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.5em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.btn {
    display: inline-block;
    color: #ffffff;
    padding: 27px;
    position: relative;
    letter-spacing: 1px;
    margin-top: -15px;
    margin-bottom: -15px;

    &__circle,
    &__text,
    &__textR,
    &__white-circle {
        position: absolute;
    }

    &__circle {
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 100%;
        width: 100%;
        box-shadow: 0 0 1px 1px #fff;
        transition: 0.3s linear;
    }

    &__white-circle {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 56px;
        height: 56px;
        border-radius: 100%;
        background: #ffffff;
        display: flex;
        transition: 0.3s ease-in-out;

        svg {
            width: 24px;
            height: 24px;
            margin: auto;
        }
    }

    &__text {
        top: 50%;
        right: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
        z-index: 2;
        padding: 24px 15px;
        transition: 0.3s linear;

    }

    &__textR {
        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
        z-index: 2;
        padding: 24px 8px;
        transition: 0.3s linear;
    }

    &:hover {
        .btn__circle {
            transform: scale(0);
        }

        .btn__white-circle {
            transform: translate(-50%, -50%) scale(1);
        }

        .btn__text {
            transform: translate(-40px, -50%);
        }

        .btn__textR {
            transform: translate(40px, -50%);
            content: "Start";
        }
    }
}

.detail-btn,
.detail-btn::after {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #191919;
    background-color: transparent;
    position: relative;
    width: 100px;
    text-align: center;
    padding: 25px 20px;
    border-radius: 100%;
    background-color: #FCFCFC;
    mask-image: url("../asset/grit.png");
    transition: 0.5s;
}

.detail-btn::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'what is this';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;

}


.detail-btn:hover {
    color: #FCFCFC;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 10px 10px -10px red;
    padding: 25px 20px;
    background-color: rgb(25 25 25 / 70%);
    transform: scale(1.2);
    transition: 0.5s;

}

@import "animal/animation/state_two.scss";

@import "overlay.scss";
@import "all_animals.scss";
@import "mobile.scss";
@import "effect.scss";

@import "animal/00_start_animal.scss";
@import "animal/01_vaquita.scss";
@import "animal/02_marin_otter.scss";
@import "animal/03_hawaii_seal.scss";
@import "animal/04_jp_shark.scss";
@import "animal/05_oren_stork.scss";
@import "animal/06_white_shark.scss";
@import "animal/07_smol_saw.scss";
@import "animal/08_eu_eel.scss";
@import "animal/09_blue_tuna.scss";
@import "animal/10_man_ray.scss";
@import "animal/11_gharial.scss";
@import "animal/12_hawk_turtle.scss";
@import "animal/13_pela_shark.scss";
@import "animal/14_india_dolphin.scss";
@import "animal/15_tri_alba.scss";
@import "animal/16_icefish.scss";
@import "animal/17_pinguin.scss";
@import "animal/18_sei_whale.scss";
@import "animal/19_n_right_whale.scss";
@import "animal/20_blue_whale.scss";