@import "bourbon/bourbon";

body {
    background-color: #1a1a1d;
    color: wheat;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.shard-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

.shard {
    width: 100%;
    height: 100%;
}

.start-screen {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #1a1a1d;

    &::after {
        @include transition(10s);
    }

    .start-screen-content {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 50%;
    }

    .header-project {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 4em;
    }

    .descri {
        margin-bottom: 30px;
    }

    .start-btn {
        padding: 10px;
        border-radius: 10px;
        border-color: greenyellow;
        border-style: solid;
        border-width: 2px;

        &:hover {
            border-width: 5px;
            @include transition(0.5s)
        }
    }
}

.exhibizone {
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.stg-exhibi {
    width: 600px;
    height: 400px;
    position: absolute;
    background-color: #727cba;
}



.stage {
    width: 100%;
    height: 100%;
    position: absolute;
    right: auto;


    .select-animal {
        position: absolute;
        height: 100%;
        right: auto;
        bottom: auto;
        left: 90%;

        a {
            border-width: 2px;
            border-color: greenyellow;
            border-style: dashed;
            border-radius: 100px;
            padding: 10px;

            &:hover {
                border-width: 5px;
                @include transition(0.5s)
            }

        }

        .thobbing {
            margin: 40px 0 40px 0;
        }

        li {
            position: relative;
            top: 50%;
        }

    }

    .menu-nav {
        position: absolute;
        height: 100%;
        right: 90%;
        text-align: right;

        a {
            border-width: 2px;
            border-color: greenyellow;
            border-style: dashed;
            border-radius: 100px;
            padding: 10px;

            &:hover {
                border-width: 5px;
                @include transition(0.5s)
            }

        }

        .thobbing {
            margin: 40px 0 40px 0;
        }

        li {
            position: relative;
            top: 50%;
        }
    }

    .animalinfo-wapper {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: -1;


        .animalinfo {
            position: absolute;
            top: 80%;
        }

        li {
            display: inline-block;
        }

        h2 {
            font-size: 3rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

    }
}

.aboutme {
    position: absolute;

    a {
        border-width: 2px;
        border-color: greenyellow;
        border-style: dashed;
        border-radius: 100px;
        padding: 10px;

        &:hover {
            border-width: 5px;
            @include transition(0.5s)
        }

    }

    right: auto;
    bottom: 10%;
    left: 90%;
}

.overlay::-webkit-scrollbar {
    height: 12px;
    width: 20px;
    background: transparent;
    border-radius: 20px;
}


.overlay {
    background-color: rgba($color: #040821, $alpha: 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    pointer-events: none;
    @include transform(translateY(100%));
    @include transition(.6s ease-in);

    &.active {
        pointer-events: auto;
        @include transform(translateY(0));
    }

    div {
        display: none;

        &.active {
            display: block;
        }
    }
}

@import "pinguin.sass";