@import "bourbon/bourbon";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

$smootheaseout: 0.62, 0.02, 0.34, 1;
$head_font: "Amatic SC", sans-serif;
$main_font: "Baloo 2", sans-serif;
$smallscreensize: 700px;
$mdscreensize: 1000px;
$vaquita_bg: linear-gradient(180deg, #95F9C3 0%, #0B3866 100%);

body {
    color: #C1E9E8;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: $main_font;
}

a {
    text-decoration: none;
    color: #FCFCFC;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.shard-wrap {
    width: 100%;
    height: 100%;
    position: absolute;

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) .shard {
            $td: (
                $i * 0.05s
            );
        @include transition($td cubic-bezier($smootheaseout));
    }
}
}

.shard {
    width: 100%;
    height: 100%;
}

.start-screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    place-items: center;
    background-color: #191919;
    text-align: center;
    z-index: 9999;

    .header-project {
        font-family: $head_font;
        font-weight: 600;
        font-size: 7em;
    }

    .descri {
        margin-bottom: 30px;
    }

    .start-btn {
        padding: 10px;
        border-radius: 10px;
        border-color: #27AFBB;
        border-style: solid;
        border-width: 2px;

        &:hover {
            border-width: 5px;
            @include transition(0.5s)
        }
    }
}

.stg-exhibi {
    position: absolute;
}

.exhibizone {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -1.25%;
    @include transform(scale(0.5));
}

.popout {
    position: relative;
    @include transition(0.18s);
    color: #FCFCFC;
    white-space: nowrap;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 30px;
        z-index: -1;
    }
}

.stage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .select-animal {
        margin-left: auto;
        margin-right: 30px;
        text-align: right;
        z-index: 9998;

        .popout {
            position: absolute;
            right: 100px;
            top: 6px;
            opacity: 0;
            pointer-events: none;
            @include transform(translateX(8px));

            &.text-change {
                opacity: 0;
                @include transition(0.15s);
                @include transform(translateY(5px));
            }
        }

        &:hover {
            .popout {
                @include transform(translateX(0) !important);
                opacity: 1;

                &.text-change {
                    opacity: 0;
                    @include transition(0.14s);
                    @include transform(translateY(5px));
                }
            }
        }

        .thobbing {
            margin: 50px 0 50px 0;
        }

        li {
            position: relative;

        }

    }

    .menu-nav {
        margin-left: 30px;
        text-align: left;
        z-index: 9998;

        .popout {
            right: auto;
            left: 80px;
            @include transform(translateX(-8px));
        }

        .autoplay {
            margin: 50px 0 50px 0;
        }

        li {
            position: relative;

            .popout {
                position: absolute;
                right: 100px;
                top: 6px;
                opacity: 0;
                pointer-events: none;
                margin-left: 30px;
                @include transform(translateX(8px));

                &.text-change {
                    opacity: 0;
                    @include transition(0.15s);
                    @include transform(translateY(5px));
                }
            }

            &:hover {
                .popout {
                    @include transform(translateX(0) !important);
                    opacity: 1;

                    &.text-change {
                        opacity: 0;
                        @include transition(0.14s);
                        @include transform(translateY(5px));
                    }
                }
            }
        }
    }

    .animalinfo-wapper {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 0;
        margin-top: 4rem;


        li {
            display: inline-block;
        }

        h2 {
            font-weight: 600;
            font-size: 3.5rem;
        }
    }
}

.aboutme {
    position: fixed;
    right: 3%;
    transform: translate(-3%, -3%) scale(1);


    .aboutme-btn {
        background-color: transparent;
        cursor: pointer;
        border: none;
        width: 50px;
        height: 50px;
        transition: 0.5s;
    }

    .aboutme-btn:hover {
        transition: 0.5s;
        transform: translateY(-10px);
    }

}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 10em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.5em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.btn {
    display: inline-block;
    color: #ffffff;
    padding: 27px;
    position: relative;
    letter-spacing: 1px;
    margin-top: -15px;
    margin-bottom: -15px;

    &__circle,
    &__text,
    &__textR,
    &__white-circle {
        position: absolute;
    }

    &__circle {
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 100%;
        width: 100%;
        box-shadow: 0 0 1px 1px #fff;
        transition: 0.3s linear;
    }

    &__white-circle {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 56px;
        height: 56px;
        border-radius: 100%;
        background: #ffffff;
        display: flex;
        transition: 0.3s ease-in-out;

        svg {
            width: 24px;
            height: 24px;
            margin: auto;
        }
    }

    &__text {
        top: 50%;
        right: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
        z-index: 2;
        padding: 24px 15px;
        transition: 0.3s linear;

    }

    &__textR {
        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
        z-index: 2;
        padding: 24px 8px;
        transition: 0.3s linear;
      }

    &:hover {
        .btn__circle {
            transform: scale(0);
        }

        .btn__white-circle {
            transform: translate(-50%, -50%) scale(1);
        }

        .btn__text {
            transform: translate(-40px, -50%);
        }

        .btn__textR {
            transform: translate(40px, -50%);
            content: "Start";
        }
    }
}

.detail-btn,
.detail-btn::after {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #191919;
    background-color: transparent;
    position: relative;
    width: 100px;
    text-align: center;
    padding: 25px 20px;
    border-radius: 100%;
    background-color: #FCFCFC;
    mask-image: url("../asset/grit.png");
    transition: 0.5s;
}

.detail-btn::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'what is this';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;

}


.detail-btn:hover {
    color: #FCFCFC;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 10px 10px -10px red;
    padding: 25px 20px;
    background-color: rgb(25 25 25 / 70%);
    transform: scale(1.2);
    transition: 0.5s;

}

.all-animals {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    transform: translate(-50%, -50%);

    background: #191919;

    &.inactive {
        display: none;
    }

    .animal-nav-content {
        display: block;
        opacity: 0;
        @include transition(0.3s);
    
        &.inactive {
            display: none;
        }
        &.active {
            opacity: 1;
            .title-content {
                h1,
                h2,
                h4,
                p {
                    opacity: 1;
                    @include transform(translateY(0));
                }
            }
        }
        ul {
            li {
                h4 {
                    font-size: 1.7em;
                    letter-spacing: 0.16em;
                    margin-bottom: 0.5em;
                }
                h2 {
                    margin-bottom: 0.2em;
                }
                span {
                    color: #706e6e;
                    letter-spacing: 0.2em;
                    i {
                        color: #bbb;
                    }
                }
                &:nth-child(1) {
                    h4 {
                        color: $vaquita_bg;
                    }
                }
                // &:nth-child(2) {
                // 	h4 {
                // 		color: $vaquita-bg;
                // 	}
                // }
                // &:nth-child(3) {
                // 	h4 {
                // 		color: $tamarin-bg;
                // 	}
                // }
                // &:nth-child(4) {
                // 	h4 {
                // 		color: $frog-bg;
                // 	}
                // }
                // &:nth-child(5) {
                // 	h4 {
                // 		color: $owl-bg;
                // 	}
                // }
                // &:nth-child(6) {
                // 	h4 {
                // 		color: $turtle-bg;
                // 	}
                // }
                // &:nth-child(7) {
                // 	h4 {
                // 		color: $oryx-bg;
                // 	}
                // }
                // &:nth-child(8) {
                // 	h4 {
                // 		color: $iguana-bg;
                // 	}
                // }
                // &:nth-child(9) {
                // 	h4 {
                // 		color: $seahorse-bg;
                // 	}
                // }
                // &:nth-child(10) {
                // 	h4 {
                // 		color: $armadillo-bg;
                // 	}
                // }
                // &:nth-child(11) {
                // 	h4 {
                // 		color: $sloth-bg;
                // 	}
                // }
                // &:nth-child(12) {
                // 	h4 {
                // 		color: $kakapo-bg;
                // 	}
                // }
                // &:nth-child(13) {
                // 	h4 {
                // 		color: $echidna-bg;
                // 	}
                // }
                // &:nth-child(14) {
                // 	h4 {
                // 		color: $penguin-bg;
                // 	}
                // }
                // &:nth-child(15) {
                // 	h4 {
                // 		color: $damselfly-bg;
                // 	}
                // }
                // &:nth-child(16) {
                // 	h4 {
                // 		color: $bear-bg;
                // 	}
                // }
                // &:nth-child(17) {
                // 	h4 {
                // 		color: $parrotfish-bg;
                // 	}
                // }
                // &:nth-child(18) {
                // 	h4 {
                // 		color: $camel-bg;
                // 	}
                // }
                // &:nth-child(19) {
                // 	h4 {
                // 		color: $butterfly-bg;
                // 	}
                // }
                // &:nth-child(20) {
                // 	h4 {
                // 		color: $ostrich-bg;
                // 	}
                // }
            }
        }
    
        .title-content {
            margin-top: -166px;
            z-index: 3;
            position: relative;
            @include transition(0.5s 0.3s);
            h1,
            h2,
            h4,
            p {
                text-align: center;
                opacity: 0;
                @include transition(0.45s 0.7s cubic-bezier($smootheaseout));
                @include transform(translateY(-2px));
            }
            h1 {
                @include transition-delay(0.85s);
                @include transform(translateY(5px));
            }
            h2 {
                font-size: 6em;
                line-height: 0.9em;
                margin: 6px 0 15px;
                @include transform(translateY(5px));
                span {
                    display: block;
                }
            }
            h4 {
                color: #656b72;
                font-size: 1.7em;
                margin-bottom: 25px;
                letter-spacing: 0.2em;
                @include transition(1.2s 1.2s);
            }
            p {
                font-size: 1.15em;
                letter-spacing: 0.2em;
                @include transition(1.7s 1.6s);
                line-height: 1.3em;
                padding: 0 40px;
                a {
                    letter-spacing: 0.2em;
                    display: inline-block;
                    color: red;
                }
            }
            &.inactive {
                opacity: 0;
                @include transition(0.2s 0.06s);
            }
        }
    }

	.hover-detector {
		z-index: 999999;
		position: absolute;
		height: 0px;
		width: 0px;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		display: block;
		@include transition(0.5s);

		&.active {
			opacity: 1;
			div {
				opacity: 1;
				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						$td: ($i * 0.03s);
						$ts: (0.34s+ ($i * 0.05s));
						@include transition($ts $td);
					}
				}
				&::after {
					opacity: 0;
				}
			}
			div {
				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						$r: ($i * 12deg - 7deg);
						@include transform(rotate($r) translateY(-230px));
					}
				}
			}
		}

		&.inactive {
			display: none;
		}

		div {
			width: 56px;
			height: 56px;
			opacity: 0;
			position: absolute;
			border: 1px solid rgba(255, 255, 255, 0);
			top: 50%;
			left: 50%;
			border-radius: 100px;
			margin-top: -28px;
			margin-left: -28px;
			-webkit-backface-visibility: hidden;
			@include transition(all 0.3s);
			@include transform-origin(50% 50%);

			@for $i from 1 through 30 {
				&:nth-child(#{$i}) {
					$r: ($i * 11.7deg - 7deg);
					@include transform(rotate($r) translateY(-200px));
				}
			}
			&:before {
				content: "";
				height: 100%;
				width: 100%;
				background-color: #fff;
				@include transition(all 0.2s cubic-bezier($smootheaseout));
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 40px;
				@include transform(scale(0.065));
			}
			&:after {
				content: "";
				height: 100%;
				width: 100%;
				border: 1px solid rgba(255, 255, 255, 0.2);
				@include transition(all 0.5s);
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 40px;
				@include transform(scale(0.8));
			}
			&:hover {
				cursor: pointer;
			}
			&.active-animal,
			&:hover {
				&:after {
					@include transition(all 0.19s cubic-bezier($smootheaseout));
					@include transform(scale(1));
					opacity: 1;
				}
				&:before {
					@include transform(scale(0.1));
				}
			}
		}
		&.inactive {
			pointer-events: none;
		}
	}

    .hover-detector {
        display: block;
        @include transition(200s cubic-bezier(0.11, 0.01, 0.45, 0.74));
        &.active {
            @include transform(rotate(1000deg));
        }
    }

    .animal-nav-content {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999999;
        transform: translate(-50%, -50%);
    
        ul {
            z-index: 1;
            pointer-events: none;
            position: relative;
            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
                > * {
                    opacity: 0;
                    @include transform(translateY(6px));
                    @include transition(0.13s);
                }
                &.active > * {
                    opacity: 1;
                    @include transform(translateY(0));
                    @include transition(0.34s 0.1s);
                    &:nth-child(2) {
                        @include transition-delay(0.25s);
                    }
                    &:nth-child(3) {
                        @include transition-delay(0.4s);
                    }
                }
            }
        }
    }
}




@import "animal/animation/state_two.scss";

@import "overlay.scss";
@import "mobile.scss";
@import "effect.scss";

@import "animal/00_start_animal.scss";
@import "animal/01_vaquita.scss";
@import "animal/02_marin_otter.scss";
@import "animal/03_hawaii_seal.scss";
@import "animal/04_jp_shark.scss";
@import "animal/05_oren_stork.scss";
@import "animal/06_white_shark.scss";
@import "animal/07_smol_saw.scss";
@import "animal/08_eu_eel.scss";
@import "animal/09_blue_tuna.scss";
@import "animal/10_man_ray.scss";
@import "animal/11_gharial.scss";
@import "animal/12_hawk_turtle.scss";
@import "animal/13_pela_shark.scss";
@import "animal/14_india_dolphin.scss";
@import "animal/15_tri_alba.scss";
@import "animal/16_icefish.scss";
@import "animal/17_pinguin.scss";
@import "animal/18_sei_whale.scss";
@import "animal/19_n_right_whale.scss";
@import "animal/20_blue_whale.scss";