@media only screen and (max-width: $mdscreensize) {
    .exhibizone {
        @include transform(scale(0.75));
    }

}

@media only screen and (max-width: $smallscreensize) {
    .exhibizone {
        @include transform(scale(1));
    }

    .popout {
        display: none;
    }

    .stage{
        
        .menu-nav {
            width: 100vw;
            height: 100vh;
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 100px;

            .autoplay {
                display: none;
            }
        }

        li:nth-child(3) {
            margin-left: 20px;
        }

        .animalinfo-wapper {
            width: 100vw;
            height: 100vh;
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            z-index: -1;
            margin-left: 20px;
    
            h2 {
                width: 50%;
                font-weight: 600;
                font-size: 3rem;
                line-height: 1;
            }
    
        }
    }

}