.overlay {
    background-color: rgba($color: #191919, $alpha: 0.98);
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    pointer-events: none;
    text-align: center;
    @include transform(translateY(100%));
    @include transition(.6s ease-in);

    .nav-btn.close{
        top: 90%;
        border-color: #B4BCB3;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    a {
        border-width: 2px;
        border-color: #27AFBB;
        border-style: dashed;
        border-radius: 100px;
        padding: 10px;

        &:hover {
            border-width: 5px;
            @include transition(0.5s)
        }
    }

    &.active {
        pointer-events: auto;
        @include transform(translateY(0));
    }

    div {
        display: none;

        &.active {
            display: block;
        }
    }
}

.overlay::-webkit-scrollbar {
    height: 12px;
    width: 20px;
    background: transparent;
    border-radius: 20px;
}

.menu-animal-nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.all-animal-stg {
    h1 {
        font-size: 60px;
    }
}

.aboutme {
    position: absolute;
    bottom: 10%;
    left: 90%;

    a {
        border-width: 2px;
        border-color: #27AFBB;
        border-style: dashed;
        border-radius: 100px;
        padding: 10px;
        margin-right: 15px;

        &:hover {
            border-width: 5px;
            @include transition(0.5s)
        }

    }

}