.white_shark {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #092327;

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(37.1% 36.53%, 48.81% 18.65%, 49.49% 26.96%);
                background-color: #EFEBE4;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(37.1% 36.53%, 49.49% 26.96%, 50.68% 41.54%);
                background-color: #544D52;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(2.19% 56.89%, 16.84% 44.44%, 37.1% 36.53%);
                background-color: #A79D99;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(1.31% 57.62%, 60% 45%, 37.1% 36.53%);
                background-color: #84736F;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(2.45% 57.62%, 60% 45%, 74.85% 61%);
                background-color: #4D444B;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(11% 55.67%, 12.15% 56.55%, 12.78% 55.3%);
                background-color: #817B76;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(10.68% 61.4%, 12.68% 58.38%, 14.57% 62.54%);
                background-color: #A4A8AC;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(12.68% 58.38%, 14.57% 62.54%, 56.5% 60.2%);
                background-color: #A8ACB1;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(25% 62%, 33.4% 61.5%, 28.3% 68.87%);
                background-color: #282E34;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(33.4% 61.5%, 28.3% 68.87%, 31% 74.75%);
                background-color: #ABACB0;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(31% 58.94%, 35.7% 55.93%, 53.95% 73.66%);
                background-color: #B8A399;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(41.61% 61.71%, 53.95% 71.24%, 54.53% 74.07%);
                background-color: #F2ECEA;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(58.24% 60.27%, 64.12% 60.67%, 64.77% 64.31%);
                background-color: #C8C9C8;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(60% 45%, 69.85% 55.47%, 75.23% 55.07%);
                background-color: #7F7067;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(66.66% 49.3%, 72.1% 52.6%, 73.65% 47.55%);
                background-color: #0C090A;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(66.6% 60.6%, 71.12% 60.8%, 71.77% 67.37%);
                background-color: #0C1117;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(69.85% 55.47%, 90.3% 53.68%, 80.75% 66.85%);
                background-color: #434248;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(90.3% 53.68%, 80.75% 66.85%, 98.4% 53%);
                background-color: #F0EFEB;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(74.85% 61%, 80.75% 66.85%, 76.9% 75%);
                background-color: #33333B;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(80.75% 66.85%, 76.9% 75%, 77.8% 81.3%);
                background-color: #A8ACB1;
            }
        }
    }
}