.smol_saw {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #0B5351;

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(1.73% 66.78%, 7.09% 63.61%, 7.69% 67.27%);
                background-color: #C5AB82;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(7.53% 65.15%, 12.2% 62.16%, 12.81% 66.08% );
                background-color: #B99958;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(12.73% 63.52%, 17.21% 60.71%, 17.87% 64.23%);
                background-color: #8F6F31;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(17.59% 61.94%, 22.77% 62.6%, 22.27% 58.86%);
                background-color: #7B5E20;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(22.71% 60.49%, 26.84% 56.96%, 27.4% 61.41%);
                background-color: #503F0B;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(26.84% 56.96%, 27.4% 61.41%, 40.48% 46.84%);
                background-color: #584312;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(27.4% 61.41%, 40.48% 46.84%, 68.78% 54.28%);
                background-color: #846E3B;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(28.29% 55.83%, 29.97% 54.45%, 29.04% 54.28%);
                background-color: #121420;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(29.07% 60.57%, 29.81% 59.56%, 30.77% 60.18%);
                background-color: #010210;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(32.75% 57.49%, 32.89% 59.16%, 33.88% 59.03%);
                background-color: #1C0800;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(35.47% 59.78%, 50.82% 67.35%, 56.51% 57.27%);
                background-color: #9E8A57;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(40.48% 46.84%, 43.17% 42.52%, 45.92% 45.38%);
                background-color: #725E22;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(40.48% 46.84%, 58.55% 42.74%, 68.78% 54.28%);
                background-color: #7D6D25;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(58.52% 54.98%, 67.43% 55.91%, 64.38% 60%);
                background-color: #736736;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(58.55% 42.74%, 68.78% 54.28%, 84.51% 54.06%);
                background-color: #817749;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(58.55% 42.74%, 64.93% 32.7%, 65.86% 45.12%);
                background-color: #7D6635;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(73.92% 49.39%, 82.28% 40.41%, 82.12% 52.43%);
                background-color: #676130;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(68.78% 54.28%, 86.9% 58.9%, 89.82% 54.06%);
                background-color: #4E3F1A;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(86.9% 58.9%, 89.82% 54.06%, 91.33% 64.14%);
                background-color: #30270C;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(89.82% 54.06%, 91.33% 64.14%, 98.48% 46.04%);
                background-color: #826931;
            }
        }
    }
}