.blue_tuna {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #4E8098;

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(2.78% 51.6%, 13.92% 39.45%, 29.19% 31.92%);
                background-color: #00000F;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(2.78% 51.6%, 29.19% 31.92%, 90.57% 49.62%);
                background-color: #272C3E;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(2.78% 51.6%, 8.81% 57.68%, 90.57% 49.62%);
                background-color: #D6DFD8;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(2.62% 58.3%, 29.52% 72.47%, 90.57% 49.62%);
                background-color: #F3F4F6;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(2.62% 58.3%, 14.75% 67.85%, 29.52% 72.47%);
                background-color: #E2F6FE;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(10.76% 50.91%, 12.27% 48.3%, 13.67% 52.73%);
                background-color: #161825;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(12.27% 48.3%, 13.67% 52.73%, 15.16% 48.7%);
                background-color: #A09068;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(27.54% 51.38%, 46.68% 48.3%, 35.62% 45.39%);
                background-color: #453827;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(27.54% 51.38%, 46.68% 48.3%, 35.62% 55.56%);
                background-color: #727985;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(29.19% 31.92%, 32.49% 15.41%, 39.33% 32%);
                background-color: #D7B675;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(35.21% 21.88%, 39.33% 32%, 50.64% 32.18%);
                background-color: #916C46;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(50.64% 32.18%, 61.78% 17.12%, 54.42% 33.97%);
                background-color: #383327;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(54.42% 33.97%, 56.66% 28.62%, 58.31% 35.88%);
                background-color: #C19E75;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(29.19% 31.92%, 50.64% 32.18%, 83.89% 47.77%);
                background-color: #181D2E;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(29.52% 72.47%, 36.53% 73.13%, 34.55% 84.76%);
                background-color: #A6977F;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(29.52% 72.47%, 45.19% 71%, 75.28% 55.46%);
                background-color: #DDDF9A;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(54.52% 66.26%, 58.07% 64.42%, 65.82% 75.64%);
                background-color: #30353B;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(58.07% 64.42%, 61.05% 62.92%, 59.63% 66.66%);
                background-color: #DAC27B;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(83.89% 47.77%, 97.56% 27.43%, 90.57% 49.62%);
                background-color: #615334;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(84.56% 52%, 97% 72.23%, 90.57% 49.62%);
                background-color: #373425;
            }
        }
    }
}