.man_ray {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, #e4a7c5 0%, #6d51a5 100%);

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(36.1% 18.5%, 37.45% 17.37%, 39% 19%);
                background-color: #0E1211;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(36.1% 18.5%, 46.5% 20.1%, 32.5% 30.75%);
                background-color: #202020;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(36.1% 18.5%, 34.9% 22.35%, 31% 22.35%);
                background-color: #191919;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(34.9% 22.35%, 31% 22.35%, 29.95% 28.27%);
                background-color: #707978;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(29.50% 29.2%, 27% 32.2%, 29.3% 38.2%);
                background-color: #87908D;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(27% 32.2%, 29.3% 38.2%, 27.65% 42.2%);
                background-color: #0F1110;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(27.65% 42.2%, 32.5% 30.75%, 33.8% 54.7%);
                background-color: #111113;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(27.65% 42.2%, 29.5% 45.9%, 28% 45%);
                background-color: #171717;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(33.8% 54.7%, 33.55% 83.44%, 36.2% 98%);
                background-color: #181E21;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(36.2% 98%, 32.5% 30.75%, 47.6% 66.13%);
                background-color: #0E0E0E;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(32.5% 30.75%, 47.6% 66.13%, 58.15% 36.87%);
                background-color: #121C28;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(32.5% 30.75%, 58.15% 36.87%, 70.6% 1.88%);
                background-color: #090909;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(70.6% 1.88%, 46.5% 20.1%, 60.70% 5.68%);
                background-color: #1A2024;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(62.5% 24.57%, 62.65% 58.5%, 43.6% 76.7%);
                background-color: #0C1019;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(29.5% 45.9%, 34.45% 36.8%, 31.8% 50.55%);
                background-color: #D8E1E0;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(34.45% 36.8%, 44% 43.75%, 32.25% 47.3%);
                background-color: #CFD8D7;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(39% 19%, 43.57% 19.57%, 36.7% 30.55%);
                background-color: #C7D3D1;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(36.7% 30.55%, 41.24% 23.2%, 44.78% 40.77%);
                background-color: #A7B7B6;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(55.7% 51.4%, 61.7% 58%, 62% 57.3%);
                background-color: #A2ADAF;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(63.1% 58.35%, 62.85% 59.1%, 73.4% 61.2%);
                background-color: #101010;
            }
        }
    }
}