.gharial {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, #9bafd9 0%, #103783 100%);

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(1.71% 19.42%, 4% 17.1%, 16.41% 31.52%);
                background-color: #0A1217;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(10.74% 24.97%, 17.03% 32.21%, 34% 40%);
                background-color: #3C4E5B;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(17.03% 32.21%, 34% 40%, 39.2% 55%);
                background-color: #00162A;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(23.65% 33.36%, 30.1% 31%, 34% 40%);
                background-color: #323C3D;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(29.82% 32.85%, 28.3% 33.75%, 30.53% 35.07%);
                background-color: #EED28F;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(31.65% 34.9%, 34% 40%, 51.50% 38.9%);
                background-color: #364548;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(34% 40%, 51.50% 38.9%, 39.2% 55%);
                background-color: #27363B;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(51.50% 38.9%, 39.2% 55%, 74.15% 61.75%);
                background-color: #586353;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(51.50% 38.9%, 74.15% 61.75%, 72.3% 48.8%);
                background-color: #253539;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(51.50% 38.9%, 72.3% 48.8%, 64.75% 41.95%);
                background-color: #6B6F6A;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(39.2% 55%, 74.15% 61.75%, 40.5% 53.35%);
                background-color: #D2D3BB;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(41.4% 55.75%, 44.45% 56.3%, 43.55% 70.15%);
                background-color: #000214;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(59% 58.8%, 62% 59.63%, 60.3% 68%);
                background-color: #0B0E0A;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(62% 59.63%, 74.15% 61.75%, 70.3% 66.5%);
                background-color: #F0D2A5;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(74.15% 61.75%, 70.3% 66.5%, 83.4% 80.80%);
                background-color: #EBEFD7;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(72.3% 48.8%, 74.15% 61.75%, 83.4% 80.80%);
                background-color: #030311;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(55.1% 47.35%, 49.5% 51.15%, 61.16% 77.85%);
                background-color: #041F30;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(75.5% 53.3%, 72.15% 57.35%, 82.1% 81.6%);
                background-color: #081A28;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(83.4% 80.80%, 80.2% 71.71%, 95.75% 77%);
                background-color: #142027;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(95.75% 77%, 91.65% 78.3%, 98.45% 83%);
                background-color: #06122A;
            }
        }
    }
}