.hawk_turtle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #0B5351;

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(11.45% 32.14%, 15.88% 24.17%, 28.18% 27.25%);
                background-color: #674725;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(11.45% 32.14%, 28.18% 27.25%, 25.21% 37.73%);
                background-color: #9F9770;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(13.66% 33.24%, 21.96% 39.40%, 25.21% 37.73%);
                background-color: #825C2A;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(18.74% 27.52%, 17.37% 29.5%, 20.12% 28.31%);
                background-color: #020203;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(28.18% 27.25%, 25.21% 37.73%, 30.95% 44.12%);
                background-color: #6C6941;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(28.18% 27.25%, 33.4% 30.07%, 30.95% 44.12%);
                background-color: #A59A77;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(38.46% 28.46%, 37.58% 14.87%, 44.38% 26.88%);
                background-color: #653E10;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(37.58% 14.87%, 43.31% 24.76%, 56.46% 2.27%);
                background-color: #C8AD58;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(32.27% 49.62%, 35.02% 60.41%, 20.26% 53.98%);
                background-color: #754F28;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(20.26% 53.98%, 30.35% 58.34%, 19.57% 85.6%);
                background-color: #CAB262;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(30.95% 44.12%, 38.9% 75.42%, 55.95% 44.82%);
                background-color: #502B0E;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(30.95% 44.12%, 33.4% 30.07%, 55.95% 44.82%);
                background-color: #674110;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(33.4% 30.07%, 51.14% 24.93%, 55.95% 44.82%);
                background-color: #866A50;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(51.14% 24.93%, 66.55% 33.95%, 55.95% 44.82%);
                background-color: #676451;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(77.9% 63.53%, 66.55% 33.95%, 55.95% 44.82%);
                background-color: #484641;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(71.66% 73.18%, 77.9% 63.53%, 55.95% 44.82%);
                background-color: #221D1A;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(38.9% 75.42%, 71.66% 73.18%, 55.95% 44.82%);
                background-color: #2F2712;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(38.9% 75.42%, 55.05% 81.24%, 70.56% 73.44%);
                background-color: #5E4919;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(65.83% 79.74%, 76.66% 97.79%, 70.56% 73.44%);
                background-color: #181010;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(74.77% 54.64%, 81.49% 63.53%, 88.66% 56.49%);
                background-color: #2D2521;
            }
        }
    }
}