.india_dolphin {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #4E8098;

    // .menu-nav a {
    //     border-color: #053065;
    // }

    // .select-animal a {
    //     border-color: #053065;
    // }

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(46.85% 34.78%, 53.58% 32.41%, 52.84% 37.49%);
                background-color: #454349;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(43.97% 33.53%, 34.15% 38.02%, 66.41% 43.63%);
                background-color: #80848B;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(43.97% 33.53%, 34.15% 38.02%, 38.69% 34.19%);
                background-color: #494951;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(34.15% 38.02%, 17.19% 37.16%, 7.5% 42.97%);
                background-color: #5F5E66;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(14.84% 38.48%, 9.4% 39.41%, 7.5% 42.97%);
                background-color: #6E7074;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(1.13% 44.2%, 9.52% 45.55%, 7.5% 42.97%);
                background-color: #76777B;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(1.13% 44.2%, 9.52% 45.55%, 5.48% 47%);
                background-color: #A3A6A2;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(9.52% 45.55%, 5.48% 47%, 20.2% 59.75%);
                background-color: #CBD6D6;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(7.5% 42.97%, 34.15% 38.02%, 77.42% 61.27%);
                background-color: #A6AFB2;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(7.5% 42.97%, 20.2% 59.75%, 77.42% 61.27%);
                background-color: #C6CFCD;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(13.73% 46.8%, 14.63% 45.68%, 15.29% 46.94%);
                background-color: #171316;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(20.2% 59.75%, 42.4% 70.58%, 77.42% 61.27%);
                background-color: #E5ECEB;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(20.41% 58.96%, 29.28% 72.17%, 22.68% 66.55%);
                background-color: #AFBDC0;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(20.41% 58.96%, 29.28% 72.17%, 26.31% 62%);
                background-color: #48484D;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(34.15% 38.02%, 77.42% 61.27%, 66.41% 43.63%);
                background-color: #949C9F;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(66.41% 43.63%, 76.43% 43.3%, 71.97% 52.62%);
                background-color: #82868B;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(76.43% 43.3%, 71.97% 52.62%, 92.03% 51.82%);
                background-color: #6E6E75;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(77.42% 61.27%, 92.03% 51.82%, 71.97% 52.62%);
                background-color: #4D4E56;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(92.03% 51.82%, 89.1% 50%, 94.96% 47.8%);
                background-color: #48494E;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(84.97% 53%, 89.5% 50.5%, 99.1% 49.84%);
                background-color: #707880;
            }
        }
    }
}