.tri_alba {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(315deg, #08203E 3%, #557C93 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(76.15% 1.04%, 72.11% 17.38%, 65.5% 17.2%);
                background-color: #494347;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(72.11% 17.38%, 65.5% 17.2%, 57.69% 25.21%);
                background-color: #87868C;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(57.69% 25.21%, 67.95% 19.58%, 58.66% 34.9%);
                background-color: #B4B5B7;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(57.69% 25.21%, 59.34% 41.87%, 49.69% 40.76%);
                background-color: #E9EDEF;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(49.69% 40.76%, 62.97% 42.39%, 64.79% 45.34%);
                background-color: #EBECEE;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(62.97% 42.39%, 64.51% 43.36%, 64.79% 45.34%);
                background-color: #E2E6EA;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(49.69% 40.76%, 54.81% 52.16%, 64.79% 45.34%);
                background-color: #CFD2D7;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(49.69% 40.76%, 52.88% 47.45%, 37.56% 50.27%);
                background-color: #D7DCDF;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(42.18% 46.88%, 41.6% 43.97%, 45.09% 44.5%);
                background-color: #C1CCD6;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(39.4% 48.95%, 41.74% 44.68%, 42.18% 46.88%);
                background-color: #DADFE5;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(41.8% 49.49%, 52.88% 47.45%, 54.81% 52.16%);
                background-color: #354D63;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(54.81% 52.16%, 64.32% 49.08%, 64.79% 45.34%);
                background-color: #8A91A0;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(62.37% 45.07%, 62.48% 45.91%, 62.97% 45.47%);
                background-color: #0D1017;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(64.79% 45.34%, 64.32% 49.08%, 67.92% 50.47%);
                background-color: #A38B98;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(64.79% 45.34%, 67.92% 50.47%, 67.65% 48.1%);
                background-color: #C8BDC9;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(67.65% 48.1%, 68.66% 49.61%, 67.81% 51.28%);
                background-color: #A48F88;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(46.17% 46.72%, 55.41% 47.67%, 38.71% 61.72%);
                background-color: #E7EBED;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(38.71% 61.72%, 48.59% 53.53%, 40.45% 73.56%);
                background-color: #CDCFD3;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(38.71% 61.72%, 40.72% 75.1%, 32.8% 80.87%);
                background-color: #413C43;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(32.8% 80.87%, 39.65% 75.94%, 24.1% 98.93%);
                background-color: #1E1A21;
            }
        }
    }
}