.penguin {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #0B5351;

    // .menu-nav a {
    //     border-color: #053065;
    // }

    // .select-animal a {
    //     border-color: #053065;
    // }

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(47.37% 4.44%, 46.05% 9.38%, 47.63% 6.84%);
                background-color: #EBE5BF;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(48.51% 5.39%, 42.4% 17.51%, 59.4% 17.33%);
                background-color: #1C1B1D;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(48.51% 5.39%, 55.8% 7.29%, 59.4% 17.33%);
                background-color: #3A3B3B;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(56.16% 1.42%, 47.24% 12.18%, 49.89% 11.25%);
                background-color: #BFB764;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(49.46% 12.73%, 50.68% 11.33%, 50.78% 13.15%);
                background-color: #433A3D;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(39.25% 15.73%, 43.36% 11.81%, 48.95% 13.58%);
                background-color: #C07B69;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(39.25% 15.73%, 42.4% 17.51%, 48.95% 13.58%);
                background-color: #82412D;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(42.4% 17.51%, 59.4% 17.33%, 47.56% 26.28%);
                background-color: #212121;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(47.56% 26.28%, 60.19% 34.6%, 59.4% 17.33%);
                background-color: #DBD9CD;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(55.52% 20.25%, 59.93% 26.94%, 59.4% 17.33%);
                background-color: #232425;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(46.35% 24.7%, 51.2% 21.58%, 47.56% 26.28%);
                background-color: #8E8160;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(47.56% 26.28%, 60.19% 34.6%, 63.57% 55.87%);
                background-color: #E3E3DE;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(47.56% 26.28%, 63.57% 55.87%, 44.54% 98.37%);
                background-color: #F4F4F3;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(47.56% 26.28%, 37.44% 69.08%, 44.54% 98.37%);
                background-color: #1F2020;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(37.44% 69.08%, 39.46% 40.24%, 47.56% 26.28%);
                background-color: #2E2F31;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(39.73% 53.5%, 46.03% 37.82%, 48.8% 66.13%);
                background-color: #37383F;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(41.28% 54.93%, 41.93% 76.74%, 48.8% 66.13%);
                background-color: #364046;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(44.54% 98.37%, 63.57% 55.87%, 60.46% 91%);
                background-color: #C3C1B6;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(48.03% 87.1%, 48.87% 98.5%, 54.94% 95.77%);
                background-color: #AD8C8B;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(40.42% 81.41%, 36.34% 98.98%, 44.54% 98.37%);
                background-color: #1E1E1E;
            }
        }
    }
}