.n_right_whale {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #4E8098;

    .shard-wrap {
        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(1.01% 41.74%, 5.41% 34.67%, 76.75% 41.74%);
                background-color: #372F2F;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(1.01% 41.74%, 16.73% 41.67%, 23.33% 54.29%);
                background-color: #2C2425;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(1.01% 41.74%, 14.84% 59.97%, 23.33% 54.29%);
                background-color: #322A2B;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(1.01% 41.74%, 6.46% 52.37%, 14.84% 59.97%);
                background-color: #363232;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(1.01% 41.74%, 2.33% 47.35%, 4.76% 49.02%);
                background-color: #C0BBB9;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(3.28% 37.84%, 5.41% 34.67%, 15.66% 35.79%);
                background-color: #B4B0AE;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(9.26% 41.74%, 12.44% 43.52%, 14.91% 41.67%);
                background-color: #ADA6A3;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(16.73% 41.67%, 23.33% 54.29%, 76.75% 41.74%);
                background-color: #282020;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(22.92% 51.21%, 23.47% 53.32%, 24.88% 53.23%);
                background-color: #140F0F;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(14.84% 59.97%, 23.33% 54.29%, 51.3% 66.83%);
                background-color: #211A1A;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(14.84% 59.97%, 29.76% 68.82%, 51.3% 66.83%);
                background-color: #2E2728;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(23.12% 65.12%, 29.76% 68.82%, 28.65% 78.59%);
                background-color: #0F0909;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(25.89% 59.17%, 36% 84.4%, 39.05% 70.14%);
                background-color: #352C2D;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(25.89% 59.17%, 31.46% 59.5%, 39.05% 70.14%);
                background-color: #353334;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(23.33% 54.29%, 51.3% 66.83%, 76.75% 41.74%);
                background-color: #2D2526;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(66.03% 40.55%, 76.75% 41.74%, 82.24% 27.47%);
                background-color: #302929;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(76% 32.26%, 76.55% 24.23%, 79.31% 16.5%);
                background-color: #3C3333;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(76% 32.26%, 79.31% 16.5%, 82.24% 27.47%);
                background-color: #271F1F;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(82.24% 27.47%, 77.68% 39.62%, 98.58% 24.5%);
                background-color: #4F4545;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(79.48% 38.43%, 92.51% 34.93%, 98.58% 24.5%);
                background-color: #3B3434;
            }
        }
    }
}