.india_dolphin {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #4a7eb2;

    .menu-nav a {
        border-color: #053065;
    }

    .select-animal a {
        border-color: #053065;
    }

    .shard-wrap {

        &:nth-child(1) {
            .shard {
                -webkit-clip-path: polygon(1.85% 63.94%, 3.04% 51.76%, 12.06% 40.00%);
                background-color: #000;
            }
        }

        &:nth-child(2) {
            .shard {
                -webkit-clip-path: polygon(1.85% 63.94%, 9.88% 64.85%, 12.06% 40.00%);
                background-color: #a5a5af;
            }
        }

        &:nth-child(3) {
            .shard {
                -webkit-clip-path: polygon(6.95% 55.03%, 11.11% 51.37%, 10.45% 58.53%);
                background-color: #37383a;
            }
        }

        &:nth-child(4) {
            .shard {
                -webkit-clip-path: polygon(1.85% 63.94%, 4.10% 64.15%, 5.99% 58.03%);
                background-color: #141414;
            }
        }

        &:nth-child(5) {
            .shard {
                -webkit-clip-path: polygon(9.88% 64.85%, 11.11% 51.37%, 20.04% 63.94%);
                background-color: #29292e;
            }
        }

        &:nth-child(6) {
            .shard {
                -webkit-clip-path: polygon(12.06% 40.00%, 11.11% 51.37%, 20.04% 63.94%);
                background-color: #464649;
            }
        }

        &:nth-child(7) {
            .shard {
                -webkit-clip-path: polygon(12.06% 40.00%, 30.59% 62.60%, 20.04% 63.94%);
                background-color: #1e1d21;
            }
        }

        &:nth-child(8) {
            .shard {
                -webkit-clip-path: polygon(37.51% 71.68%, 30.59% 62.60%, 20.04% 63.94%);
                background-color: #575265;
            }
        }

        &:nth-child(9) {
            .shard {
                -webkit-clip-path: polygon(12.06% 40.00%, 30.59% 62.60%, 38.30% 25.21%);
                background-color: #d8d8dd;
            }
        }

        &:nth-child(10) {
            .shard {
                -webkit-clip-path: polygon(12.06% 40.00%, 26.57% 28.73%, 38.30% 25.21%);
                background-color: #ababb5;
            }
        }

        &:nth-child(11) {
            .shard {
                -webkit-clip-path: polygon(45.61% 63.94%, 30.59% 62.60%, 38.30% 25.21%);
                background-color: #cccecd;
            }
        }

        &:nth-child(12) {
            .shard {
                -webkit-clip-path: polygon(38.30% 25.21%, 52.49% 3.41%, 45.48% 25.21%);
                background-color: #1c1c1e;
            }
        }

        &:nth-child(13) {
            .shard {
                -webkit-clip-path: polygon(45.48% 25.21%, 52.49% 3.41%, 52.88% 25.21%);
                background-color: #faf9fa;
            }
        }

        &:nth-child(14) {
            .shard {
                -webkit-clip-path: polygon(38.30% 25.21%, 45.61% 63.94%, 52.88% 24.88%);
                background-color: #b580a7;
            }
        }

        &:nth-child(15) {
            .shard {
                -webkit-clip-path: polygon(52.88% 24.88%, 45.61% 63.94%, 68.86% 62.69%);
                background-color: #32323c;
            }
        }

        &:nth-child(16) {
            .shard {
                -webkit-clip-path: polygon(52.88% 24.88%, 68.86% 62.69%, 73.37% 40.00%);
                background-color: #141414;
            }
        }

        &:nth-child(17) {
            .shard {
                -webkit-clip-path: polygon(73.37% 40.00%, 68.86% 62.69%, 83.09% 53.38%);
                background-color: #3c363e;
            }
        }

        &:nth-child(18) {
            .shard {
                -webkit-clip-path: polygon(83.09% 53.38%, 68.86% 62.69%, 85.45% 66.52%);
                background-color: #000;
            }
        }

        &:nth-child(19) {
            .shard {
                -webkit-clip-path: polygon(85.45% 66.52%, 87.34% 80.67%, 95.31% 85.07%);
                background-color: #a7a6a1;
            }
        }

        &:nth-child(20) {
            .shard {
                -webkit-clip-path: polygon(85.45% 66.52%, 96.53% 71.60%, 96.01% 82.83%);
                background-color: #726672;
            }
        }
    }
}